<!DOCTYPE html>
<html>
  <head>
    <title>RailsSecurity</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light mb-3'>
      <div class="container-fluid">
        <%= link_to 'Rails Security', root_path, class: 'navbar-brand' %>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
